*{
    transition: 1s;

}


.navbar-nav{
    background-color: #004B87;
    max-height: 100%;
}

/* .container{
    background-image: url('../../img/background/bg-presensi1.svg');
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
} */

.container{
    max-width: 100%;
}

.my-bg{
    background-image: linear-gradient( 109.6deg,  #004B87 18.9%, rgba(95,175,201,1) 91.1% );
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-petugas{
    max-height: 40px;
}

.btn-kloter-active{
    background-color: #004B87;
    color: #fff;
    border-bottom: 3px solid #f6c23e;
}

.btn-kloter-active:hover{
    color: #fff;
}

.btn-kloter{
    background-color: #cdd8f8;
    /* border-top: 3px solid #f8f9fc;
    border-bottom: 3px solid #f8f9fc; */
}

.btn-kloter:hover{
    color: #004B87;
    background-color: #e0dede;

    /* border-top: 3px solid #f6c23e;
    border-bottom: 3px solid #f6c23e; */
}